<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="wimServerConfiguration" type="Wim.Framework.WimServerConfiguration, Wim.Framework" />
	</configSections>
	<wimServerConfiguration defaultPortal="PORTAL">
		<portals>
			<add name="PORTAL" connection="Server=supershift-guest.database.windows.net;Initial Catalog=WimModuleMailTemplateTest;Persist Security Info=False;User ID=supershift;Password=516ab988%8331b$1a4f9f37;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" type="SqlServer" skin="blue" />
		</portals>
	</wimServerConfiguration>
  <appSettings>
    <add key="SendGridAPIKey" value="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" /><!--Test-->
    <!--<add key="EmailBlobContainer" value="hotelroomselection-mail" />
    <add key="EmailStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=hotelroomselectiontst;AccountKey=UX426Cqme3iA+Cmdnu2fYFHnwHsygtcfMqh4+tU7GRHfN/rPLURDtBbrVZ4puvnOIJR2gSDlCIP9a5LpkX2JkA==;EndpointSuffix=core.windows.net" />
    <add key="EmailQueueName" value="hotelroomselection-mailqueue" />-->

    <add key="EmailStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=supershift;AccountKey=jRP7ZrNm/auWiUGN3o2QBDqsf3C3WHJc/grr7ySLZh+nL6SbFhOdrvVElgS+IJI32kInIBzG+4xog6QIabGhNg==;EndpointSuffix=core.windows.net" />
    <add key="EmailBlobContainer" value="module-mailtemplate-container" />
    <add key="EmailQueueName" value="module-mailtemplate-queue" />
    
  </appSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
